<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CS272_Midterm_Part01/src/edu/orangecoastcollege/cs272/midterm/TakeOutDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.orangecoastcollege.cs272.midterm.TakeOutDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CS272_Midterm_Part01"/>
</launchConfiguration>
